label {
    display: flex;
    font-size: 4rem;
    font-weight: bold;
    justify-content: center;
    padding-top: 7rem;
}

.form {
    padding: 30px 40px;
    margin-bottom: 10px;
    padding-bottom: 4rem;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.form input {
	border: 2px solid #cbf442;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 17rem;
}

.form ul {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    text-align: center;
    list-style: none;
}

.form h1 {
    font-family: "Oswald", sans-serif;
    text-align: center;
}

.cardDetail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-top: 7rem;
}

.cardDetail dl, ol, ul {
    list-style: none;
}

.cancel {
    display: flex;
    justify-content: center;
}
