.cards {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.cards img {
    height: 40rem;
    width: 45rem;
}

.cards p {
    margin-top: 3rem;
}

.back {
    color: #b0dd0b;
    text-decoration: none;
}

.back:hover {
    color: #111;
}

.container {
    padding-top: 8rem;
}



